.display-settings {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.55rem 0.45rem;

  &.opened {
    max-width: 30rem;
    padding: 0.55rem 1rem;
    .display-settings_heading {
      justify-content: space-between;
      &_lhs i:hover {
        color: black;
        cursor: default;
      }
    }

    .display-settings_footing {
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      .icon {
        margin-right: 0.5rem;
        &.rounded-icon {
          height: auto;
          width: auto;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          font-weight: bold;
        }
        i {
          margin-top: unset;
          margin-right: 0.5rem;
        }
      }
    }
  }

  &_heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &_lhs {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.25rem;
        margin-left: 0.5rem;
        font-weight: bold;
      }
      i {
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: rgb(26, 26, 26);
        }
      }
    }
    &_rhs {
      font-size: 1.125rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: rgb(26, 26, 26);
      }
    }
  }

  &_controls {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    &_lhs,
    &_rhs {
      max-width: calc(50% - 20px);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .control {
        width: 100%;
        margin-bottom: 1rem;
        line-height: 1;
        p {
          margin-bottom: 0.25rem;
        }
        &:last-child {
          margin-bottom: unset;
        }
        &-input {
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid black;
        }

        .color-input {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 4px;
          border-bottom: 1px solid black;
          .control-input {
            border-bottom: none;
          }
          &.disabled {
            pointer-events: none;
            border-color: rgb(214, 214, 214);
            .control-input {
              color: rgb(214, 214, 214);
            }
          }
        }
        .checkboxs {
          margin-top: 0.5rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            margin-right: 0.5rem;
            input {
              cursor: pointer;
            }
            label {
              margin-left: 0.125rem;
              font-size: 0.9rem;
              cursor: pointer;
            }
          }
        }
      }
    }

    &_divider {
      height: 100%;
      background-color: #ebebeb;
      width: 2px;
      margin: 0 10px;
    }
  }

  &_footing {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      position: relative;
      &.rounded-icon {
        border: 2px solid black;
        border-radius: 50%;
        padding: 0.5rem;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: rgb(240, 240, 240);
          color: rgb(17, 17, 17);
          border-color: rgb(17, 17, 17);
        }
      }
      .download-format-selector {
        position: absolute;
        bottom: calc(100% + 6px);
        left: 0;
      }
      &.disabled {
        pointer-events: none;
        background-color: rgb(243, 243, 243);
        border-color: rgb(214, 214, 214);
        color: rgb(214, 214, 214);
      }
      i {
        font-size: 1.25rem;
      }
    }
  }
}
