.display {
  border: 1px solid white;
  border-radius: .5rem;
  width: max-content;
  max-width: 80vw;
  max-height: 70vh;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: .5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    i {
      position: relative;
      z-index: 1;
      font-size: 500% !important;
    }
  }

  &:before {
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 100%;
    height: 100%;
    padding: .25rem;
    border: 2px dashed white;
    border-radius: .7rem;
    z-index: -1;
  }

  :deep(.display-settings) {
    border-radius: .395rem 0 0 .395rem;
  }

  .canvas {
    display: block;
    font-size: 10pt;
    line-height: 7pt;
    color: white;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 4px;
    border-radius: 0 .395rem .395rem 0;
    max-width: max-content;
  }

  .original-image {
    height: 100%;
  }
}